/*CSS RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS RESET*/

header {
  background-color: rgb(6, 214, 160);
  padding: 20px;
  height: 100px;
  text-align: center;
}

@media screen and (min-width: 550px) {
header {
  height: 60px;
  background-color: rgb(6, 214, 160);
  padding: 0 20px;
}
}
@media screen and (min-width: 550px) {
  header > h1 {
    font-size: 18px;
    color: white;
    float: left;
    line-height: 60px;
  }
  header > nav {
    float: right;
  }
}
header > h1 {
  font-size: 18px;
  color: white;
}

.litem {
  display: inline-block;
  line-height: 60px;
  font-size: 20px;
  margin-right: 10px;
}

.alignment {
  max-width: 900px;
  margin: 0px auto;
}

.welcome h1{
  border-bottom: 5px solid #EF476F;
}
@media screen and (min-width: 550px) {
.welcome h1 {
  border: 0;
}
}

.welcome {
  background-color: #26547C;
  /*height: 309px;*/
  overflow: hidden;
}
@media screen and (min-width: 550px) {
section > img,
section > h1 {
  float: left;

}


section > img {
  max-width: 100%;
  width: 60%;
  margin-bottom: 5px;
}
section > h1 {
  float: left;
  width: 40%;
  color: white;
  font-size: 37.5px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-top: 31px;
  line-height: 45px;
}

.cats {
  background-color: #FFD166;
  padding: 33px 20px;
}

.cats p,
.store p,
.about p {
  margin: 20px 0px;
  font-size: 19.2px;
  line-height: 22.5px;
}

.cats h2,
.store h2 {
  font-weight: bold;
  margin: 22.5px 0px;
  font-size: 22.5px;
}

.store {
  background-color: #F2F2F2;
  padding: 33px 20px;
  overflow: hidden;
  width: 100%;
}

.products img {
  max-width: 100%;
  border: 3px solid black;
}

.product-item {
  display: inline-block;
  padding: 10px;
  width: 33.333333333%;
  float: left;
}

.about {
  background-color: #26547C;
  padding: 33px 20px;
}

.about p {
  color: white;
}
section ul li h2 {
  color: #EF476F;
  font-size: 22.5px;
  width: 33.3333333%;
  float: left;
  text-align: center;
  margin: 20px 0px 40px 0px;
}

footer {
  height: 50px;
  background-color: rgb(6, 214, 160);
  text-align: right;
  padding: 0px 20px;
}

footer > span  {
  font-size: 19px;
  line-height: 50px
}
